<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xsi:schemaLocation="
		        http://www.springframework.org/schema/beans 
		        http://www.springframework.org/schema/beans/spring-beans.xsd
		        http://cxf.apache.org/core
		        http://cxf.apache.org/schemas/core.xsd
		        http://cxf.apache.org/jaxws
		        http://cxf.apache.org/schemas/jaxws.xsd
		        ">
	
	<!-- 配置客户端对象 -->
	<!-- 客户端配置此处的serviceClass必须为接口-->
	<jaxws:client id="myClient" address="http://localhost:8080/springcxfserver/ws/user?wsdl"
				  serviceClass="com.xiaojihua.service.IUserService"/>
	
</beans>	











